@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Exo 2', sans-serif;
}
/* total width */
::-webkit-scrollbar {
    display: none;
    background-color: #fff;
    width: 12px;
}

@media screen and (min-width: 640px) {
    ::-webkit-scrollbar {
        display: block;
    }
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: #fff;
}
.dark ::-webkit-scrollbar-track {
    background-color: #121317;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 14px;
    border: 5px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 14px;
    border: 5px solid #121317;
}
.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #121317;
}
